<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nekosuna</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/theme-tomorrow_night_eighties.min.js" integrity="sha256-Kq3aVoDYV3fiszUucwvQabgLpYDXKs9zPu8i4N6dH4M=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/keybinding-sublime.min.js" integrity="sha256-VqhfCaWgaN+XFhrBj1AaJ+xmS0m3AxgezrmQT6B0h+g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/mode-c_cpp.min.js" integrity="sha256-I5GO6mGnGNU1W/8viy4CsR98MZoZ3cq96WmrJQIWqLs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/mode-java.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/mode-python.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/mode-ruby.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/mode-rust.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ext-searchbox.min.js" integrity="sha256-B8qJ2ZWQDuCxnF91y5S3cJiGE5Tu1kovxLNA22PEUkg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ext-language_tools.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="/style.css"></link>
</head>
<body>
    <header>Nekosuna <span><span id="mode">C++</span> programming environment for a coding competition</span></header>
    <div id="editor" style="height: 600px"></div>
    <div id="app" v-cloak>
        <div class="command">
            <input type="button" value="load" @click="load">
            <input type="button" value="build & run" @click="buildRun">
        </div>
        <div class="build">
            <h2>Compile result</h2>
            <div :class="compileResult">
                {{ compileResult }}
            </div>
            <div v-if="buildResult.STDOUT">
                <h4>STDOUT</h4>
                <pre>{{ buildResult.STDOUT }}</pre>
            </div>
            <div v-if="buildResult.STDERR">
                <h4>STDERR</h4>
                <pre>{{ buildResult.STDERR }}</pre>
            </div>
        </div>
        <div class="tests">
            <h2>test</h2>
            <div v-for="(test, index) in tests" :class="{ none : test.RESULT === null, processing: test.RESULT == 'processing', success : test.RESULT === true, failure : test.RESULT === false || test.RESULT === 'TLE' }">
                test #{{ index }} : 
                    <span v-if="test.RESULT === null">Not yet</span>
                    <span v-if="test.RESULT === 'processing'">testing</span>
                    <span v-if="test.RESULT === true">AC {{ test.TIME }}ms</span>
                    <span v-if="test.RESULT === false">WA {{ test.NUM_RESULT ? 'diff:' + test.NUM_RESULT : '' }}</span>
                    <span v-if="test.RESULT === 'TLE'">TLE {{ test.TIME }}ms</span>
            </div>
            <div v-for="(test, index) in tests" class="test">
                <h3>test #{{ index }}</h4>
                <textarea v-model="test.STDIN" id="" cols="120" rows="20" placeholder="Input STDIN"></textarea>
                <textarea v-model="test.EXPECT" id="" cols="120" rows="20" placeholder="Input expect STDOUT"></textarea>
                <div v-if="test.STDOUT">
                    <h4>STDOUT</h4>
                    <pre>{{ test.STDOUT }}</pre>
                </div>
                <div v-if="test.STDERR">
                    <h4>STDERR</h4>
                    <pre>{{ test.STDERR }}</pre>
                </div>
                <div v-if="test.STATUS">
                    <h4>STATUS</h4>
                    <pre>{{ test.STATUS }}</pre>
                </div>
            </div>
            <input type="button" value="add" @click="add">
        </div>
    </div>
    <script>
        const AceRange = ace.require("ace/range").Range
        ace.require("ace/ext/language_tools");
        let editor = ace.edit("editor")
        editor.setKeyboardHandler("ace/keyboard/sublime")
        editor.setTheme("ace/theme/tomorrow_night_eighties")
        editor.setOptions({
            enableBasicAutocompletion: true
        })
        editor.setValue(localStorage.getItem("src") || `#include <atcoder/modint>
#include <iostream>

using namespace std;
using namespace atcoder;

using mint = modint998244353;
// or: typedef modint998244353 mint;

int main() {
    // print sum of array (mod 998244353)
    int n;
    cin >> n;
    mint sum = 0;
    for (int i = 0; i < n; i++) {
        int x;
        cin >> x;
        sum += x;
    }
    cout << sum.val() << endl;
}`)
        if(/import java\./.test(editor.getValue())) {
            document.querySelector('#mode').innerText = 'Java'
            editor.session.setMode("ace/mode/java")
        } else if (/^import|input\(\)/.test(editor.getValue())) {
            document.querySelector('#mode').innerText = 'python'
            editor.session.setMode("ace/mode/python")
        } else if (/#include/.test(editor.getValue())) {
            editor.session.setMode("ace/mode/c_cpp")
        } else if (/fn |use [a-z]+::|-\*-/.test(editor.getValue())) {
            editor.session.setMode("ace/mode/rust")
        } else {
            document.querySelector('#mode').innerText = 'ruby'
            editor.session.setMode("ace/mode/ruby")
        }
        editor.focus()
        editor.gotoLine(1)
        function newTest(stdin, expect) {
            return {
                "STDIN" : stdin,
                "EXPECT" : expect,
                "STDOUT" : null,
                "STDERR" : null,
                "STATUS" : null,
                "RESULT" : null,
                "NUM_RESULT" : null,
                "TIME" : null,
            }
        }
        new Vue({
            el: '#app',
            data: {
                id: '<%= @id %>',
                tests: [newTest(`2
998244352
2`, '1')],
                compiling: false,
                buildResult: {
                    STDOUT: '',
                    STDERR: '',
                    STATUS: null
                },
                stdin: 'sardine',
                compileResult: 'none'
            },
            methods: {
                buildRun: async function() {
                    if(await this.build()) this.exec()
                },
                build: function(){
                    if(this.compiling) return
                    this.compiling = true
                    this.compileResult = 'processing'
                    for(let i = 0; i < this.tests.length; i++) {
                        this.tests[i].RESULT = null
                    }
                    for(a in editor.session.getMarkers()) { editor.session.removeMarker(a) }
                    let body = new FormData()
                    body.set('id', this.id)
                    body.set('src', editor.getValue())
                    localStorage.setItem('src', editor.getValue())
                    return new Promise(resolve => {
                        fetch('/build', {
                            method: 'POST',
                            body
                        }).then(res => res.json())
                        .then(json => {
                            this.buildResult = json
                            this.compiling = false
                            let matches = json.STDERR.match(/ain.(cpp|java|rs):([0-9]+):/)
                            if(matches) {
                                let markers = {}
                                for(let i = 1; i < matches.length; i++) {
                                    markers[Number(matches[i]) - 1] = true
                                }
                                const n = editor.getSession().getValue().split("\n").length;
                                for(let i = 0; i < n; i++) {
                                    editor.session.addMarker(new AceRange(i, 1, i, 2), markers[i] ? "error" : "ok", "fullLine")
                                }
                            }
                            let result = json.STDERR == ""
                            
                            if(result) {
                                this.compileResult = 'success'
                            } else {
                                this.compileResult = 'failure'
                            }
                            resolve(result)
                        })
                    })
                },
                exec: async function(){
                    let tests = this.tests
                    let id = this.id

                    let backup = []
                    for(let i = 0; i < tests.length; i++) {
                        if(tests[i].STDIN) {
                            backup.push([tests[i].STDIN, tests[i].EXPECT])
                        }
                    }
                    localStorage.setItem('test', JSON.stringify(backup))
                    for(let i = 0; i < tests.length; i++) {
                        let test = tests[i]
                        if(test.STDIN) {
                            test.RESULT = 'processing'
                            let body = new FormData()
                            body.set('id', id)
                            body.set('stdin', test.STDIN)
                            let start = new Date()
                            await (new Promise(resolve => {
                                fetch('/exec', {
                                    method: 'POST',
                                    body
                                }).then(res => res.json())
                                .then(json => {
                                    test.STDOUT = json.STDOUT
                                    test.STDERR = json.STDERR
                                    test.STATUS = json.STATUS
                                    test.TIME = (new Date()).getTime() - start.getTime()
                                    try {
                                        if(test.STATUS.match(/SIGKILL/)) {
                                            test.RESULT = 'TLE'
                                        } else {
                                            test.RESULT = test.EXPECT && test.STDOUT.trim() == test.EXPECT.trim()
                                            test.NUM_RESULT = test.RESULT || Math.abs(new Number(test.STDOUT.trim()) - new Number(test.EXPECT.trim()))
                                        }
                                    } finally {
                                        resolve()
                                    }
                                })
                            }))
                        }
                    }
                },
                load: function(){
                    const jsonValue = prompt('load test', localStorage.getItem("test") || '[["sardine","xxxxxxx"],["xxxx","xxxx"],["gone","xxxx"]]')
                    if(jsonValue) {
                            this.tests = 
                                JSON.parse(jsonValue).map(t => newTest(t[0], t[1]))
                    }
                },
                add: function(){
                    this.tests.push(newTest(null, null))
                }
            }
        })
    </script>
</body>
</html>
